<div class="container">
  <div>
    {{#link-to 'index'}}
      <h1><em>VolleyTools</em></h1>
    {{/link-to}}
    <nav>
      {{#link-to 'federations'}}
        Federations
      {{/link-to}}
    </nav>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
