<h1>Welcome!</h1>
<p>
  VolleyTools tries to make finding info on your team easier. No more hard-to-use federation websites.
  <br>Get started with the form below!
</p>

{{input placeholder="Federation"}}
{{input placeholder="League"}}
{{input placeholder="Team"}}
